.container ul {
    margin: auto;

}

.container ul li {}



.container .filterTab li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    /* transition: all 0.3s ease-in-out; */
    position: relative;
}


.container .filterTab li a:hover {
    color: #3bb77e !important;
    top: -8px;
}

.container .filterTab li {
    margin-left: 20px;

}