.nav{
    width: 100%;
    height: 80px;
    margin: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .cat-tabs{
    padding: 8px 20px !important;
    font-size: 20px  !important;
    text-transform: capitalize !important;
}
.nav nav ul li {
    position: relative;
}
.nav nav ul li button{
    text-transform: capitalize !important;
    padding: 10px 10px !important;
    color: #3bb77e !important ;
}
.nav nav ul li button a {
    color: rgba(0,0,0,0.8) !important;
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: 600;

}
.nav .part3 .phone  svg{
    font-size: 45px !important;
    opacity: 0.8;
}
.nav .part3 .phone h3 {
    font-size: 35px !important;
    line-height: 35px;
}
.nav .part3 .phone p {
      font-size: 15px !important;
} 

   .pagedropdown {
      position: absolute;
      top: 144%;
      left: 10px;
      width: 200px;
      height: auto;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      /* padding: 1px 0px; */
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease-in-out;
}
 
 .pagedropdown li{
    list-style: none;
    align-items: center;
    margin: 0px;
    
 }
 .pagedropdown li a {
    font-weight: 400 !important;
 }
 .pagedropdown li button {
    width: 100%;
   justify-content: flex-start;
   color: rgba(0, 0, 0, 0.7);
   text-transform: capitalize;
 
 }  

 nav li:hover .pagedropdown{
    top:100%;
    opacity: 1;
    visibility: inherit;
 }

 .mega-menu{
  height: 300px !important;
  width: 98%;
  
 }
 
 .mega-menu .col h4 {
      margin: 20px;
      font-size: 20px; 
 }
 .mega-menu .col ul li {
    margin-bottom: 10px !important;
         display: block;
 }

 .mega-menu .col ul li a{
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    text-decoration: none;
 }