

body {
  width: 100%;
}

.bg-g,
.bg-success{
  background: #3bb77e  !important;
}
.text-g{
  color: #3bb77e;
}

.hd {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-left: 30px;
}